		li {
			list-style: none;
		}
		fieldset {
			width: 55%;
			margin-bottom: 15px;
		}
		fieldset ul {
			padding: 0px;
		}
		fieldset ul li:first-child {
			padding-bottom: 15px;
		}
		legend {
			font-weight: bold;
		}
		input[type="text"] {
			width: 250px;
		}
		#mail {
			width: 250px;
		}
		.firstFormSet li {
			padding: 5px;
		}
		.moreAboutMe {
			margin: 0px;
		}
		.moreAboutMe li:first-child {
			padding: 0px;
		}
		.spam li:first-child {
			padding-bottom: 0px;
		}
		.spam li:nth-child(2) {
			padding-bottom: 15px;
		}
		span {
			font-weight: bold;
			font-size: 25px;
		}
		.moreAboutMe input[type="text"] {
			width: 150px;
		}
		textarea {
			width: 380px;
		}
		.bottomFormSet {
			margin-top: 0px;
		}